p{
    font-family: 'Roboto', sans-serif;
    color:rgb(9, 63, 94);
}
h1, h2, h3 {
    color:rgb(9, 63, 94);
    font-family: Rubik, sans-serif;
}
body {
    background-color: rgb(223, 232, 238) !important;
}
pre{
    font-size: 16px !important;
}
@media(max-width: 800px){
    pre{
        font-size: 10px !important;
    }
    .main-info{
        text-align: center;
    }
    .socials-section{
        margin-top: 20px;
        justify-content: space-evenly;
    }
    .socials-section a{
        margin: 0 !important;
    }
    .socials-section a i{
        text-align: center;
    }
    .head{
        padding-top: 10px !important;
        height: 700px !important;
    }
    .main-response{
        padding-top: 0px !important;
    }
    .section-name{
        text-align: center !important;
    }
}
.head{
    color:white;
    height:600px;
    padding:100px;
    background: rgb(19, 132, 197);
}
.fullname{
    color: white;
    font-weight: 700;
    font-size: 48px;
}
.rolename{
    color: white;
    font-weight: 400;
}
.section-name{
    color: rgb(9, 63, 94);
    font-weight: 400;
    text-align: left;
    font-size: 36px;
    margin-top: 50px;
    padding-bottom: 10px;
}
.content{
    padding: 0 10vw !important;
}
.profile-picture{
    border-radius: 50%;
    max-width: 15%;
    height: auto;
}
.main-info{
    padding-top: 80px;
    flex: 50%;
}
.main-response{
    padding-top: 40px;
    flex: 50%;
}
.socials-section{
    padding: 0px !important;
    height: 100px;
}
.socials-section a {
    margin-top: 20px;
    margin-right: 50px;
}
.main-response-container{
    border-radius: 25px;
    background: white
}
.main-response-text{
    font-size: 18px;
    color: rgb(9, 63, 94);
    padding: 40px;
    margin: 0px;
}
.main-response-text pre{
    margin-bottom: 0px;
}
.skills{
    list-style: none;
    font-size:64px;
    padding: 0;
}
.socials-section a, .socials-section a:visited{
    color:white;
}
.socials-section a:hover, .socials-section a:active{
    color: rgb(9, 63, 94);
}
.socials-section.active a{
    color:white;
}
.about-me{
    text-align: justify;
}
.skills-section{
    justify-content: space-around;
}
.skills-list{
    flex: 25%;
}
.skills-icon{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height:96px;
}
.skills-icon i{
    color: rgb(19, 132, 197);
}
.skills-caption{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.skills-techs{
    font-size: 16px;
    text-align: center;
}
.projects div{
    padding: 0 !important;
    margin-bottom: 50px;
}
.project-name{
    font-weight: 300;
}
.project-desc{
    text-align: justify;
}
.project-badges{
    row-gap: 10px;
}
.project-badges span{
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 35px !important;
}
.project-badges span:not(.project-year){
    background-color: rgb(9, 63, 94) !important;
}
.project-badges a{
    margin-right: 10px;
}
.project-year{
    background-color: rgb(19, 132, 197);
}
.project-badges a i, .project-badges a i:visited{
    color:rgb(19, 132, 197);
}
.project-badges a i:hover, .project-badges a i:active{
    color: rgb(0, 103, 168);
}
.project-badges a i.active{
    color:rgb(19, 132, 197);
}