@media(max-width: 800px){
    pre{
        font-size: 10px !important;
    }
    .main-info{
        text-align: center;
    }
    .socials-section{
        margin-top: 20px;
        justify-content: space-evenly;
    }
    .socials-section a{
        margin: 0 !important;
    }
    .socials-section a i{
        text-align: center;
    }
    .head{
        padding-top: 10px !important;
        height: 650px !important;
    }
    .fullname{
        font-size: 12vw !important;
    }
    .section-name{
        text-align: center !important;
    }
}